<%= @users.count %>

<ul>
  <% @users.each do |user| %>
    <li>
      <div>
        <%= user.name %>
      </div>

      <div>

        <% if user.admin? %>
          <%= form_for @admin, url: admin_administration_url(@admin) do |f| %>
            <%= f.hidden_field :id, value: user.id %>
            <%= f.submit "Admin", data: {test: "admin-user-#{user.id}"} %>
          <% end %>
        <% else %>
          <%= form_for @admin, url: admin_administration_url(@admin) do |f| %>
            <%= f.hidden_field :id, value: user.id %>
            <%= f.submit "Not Admin", data: {test: "not-admin-user-#{user.id}"} %>
          <% end %>
          <% if user.authorized %>
            <%= form_for @admin, url: admin_authorization_url(@admin) do |f| %>
              <%= f.hidden_field :id, value: user.id %>
              <%= f.submit "Authorized", data: {test: "auth-user-#{user.id}"} %>
            <% end %>
          <% else %>
            <%= form_for @admin, url: admin_authorization_url(@admin) do |f| %>
              <%= f.hidden_field :id, value: user.id %>
              <%= f.submit "Unauthorized", data: {test: "deauth-user-#{user.id}"} %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>