<%= @users.count %>

<ul class="admin-list">
  <% @users.each do |user| %>
    <li class="user-list">
      <div>
        <%= user.name %>
      </div>

      <div class="btn-container">

        <% if user.admin %>
          <%= button_to "Admin", class: "btn auth-btn" %>
        <% else %>
          <%= button_to "Not Admin", class: "btn deauth-btn" %>
          <% if user.authorized %>
            <%= form_for @admin, url: admin_authorization_url(@admin) do |f| %>
              <%= f.hidden_field :id, value: user.id %>
              <%= f.submit "Authorized", class: "btn auth-btn" %>
            <% end %>
          <% else %>
            <%= form_for @admin, url: admin_authorization_url(@admin) do |f| %>
              <%= f.hidden_field :id, value: user.id %>
              <%= f.submit "Unauthorized", class: "btn deauth-btn" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>