<a class="skip-nav" href="#main">Skip to main content</a>

<nav>
  <div
    class=<%= "#{ user_signed_in? ? 'with-links' : 'only-logo'}"%>
  >
    <div id="logo-container">
      <%= link_to(image_tag("lettuce_logo_ph.png"), root_path) %>
    </div>

    <% if user_signed_in? %>
      <div id="nav-links">
        <%= link_to "Home", root_path %>

        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, name: 'user_sign_out', data: {test: 'sign_out_btn'} %>

        <%= button_to "Edit Profile", edit_registration_path(User), method: :get, name: 'user_edit' %>
      </div>
    <% end %>
  </div>
</nav>