<div class="form-container">
  <h2>Edit Event</h2>

  <div class="form-wrapper">
    <%= form_for @event, url: event_path do |f| %>
      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title, autofocus: true, class: "field-text" %>
      </div>
      <div class="field">
        <%= f.label :start_date %><br>
        <%= f.date_field :start_date, class: "field-text" %>
      </div>
      <div class="field">
        <%= f.label :end_date %><br>
        <%= f.date_field :end_date, class: "field-text" %>
      </div>
      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_area :description, class: "field-text" %>
      </div>
      <div>
        <%= f.submit 'Update' %>
      </div>
    <% end %>
  </div>
</div>