<div class="event-form-container">
  <h2>Edit Event</h2>

  <div class="event-form-wrapper">
    <%= form_for @event, url: event_path do |f| %>
      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title, autofocus: true, class: "text-field" %>
      </div>
      <div class="field">
        <%= f.label :start_date %><br>
        <%= f.date_field :start_date, class: "text-field" %>
      </div>
      <div class="field">
        <%= f.label :end_date %><br>
        <%= f.date_field :end_date, class: "text-field" %>
      </div>
      <div class="field">
        <%= f.label :description  %><br>
        <%= f.text_area :description, class: "text-field", cols: 100, rows: 10 %>
      </div>
      <div>
        <%= f.submit "Update", data: {test: "update"} %>
      </div>
    <% end %>
  </div>
</div>