<div class="event-form-container">
  <h2>New Event</h2>

  <div class="event-form-wrapper">
    <%= simple_form_for @event, defaults: { input_html: { class: 'text-field' } } do |f| %>
      <div class="field">
        <%= f.input :title %>
      </div>
      <div class="field">
        <%= f.input :start_date, as: :date, type: :text %>
      </div>
      <div class="field">
        <%= f.input :end_date, as: :date, type: :text %>
      </div>
      <div class="field">
        You can format your description using <a href="#">markdown styling</a>.
        <%= f.input  :description %>
      </div>
      <div>
        <%= f.submit "Create Event", data: {test: "submit"} %>
      </div>
    <% end %>
  </div>
</div>
