<!DOCTYPE html>
<html>
  <%= render partial: 'shared/head' %>

  <body>
    <!-- nav -->
    <%= render partial: 'shared/nav' %>

    <% if user_admin? %>
      <%= render partial: 'shared/admin-nav' %>
    <% end %>

    <%= render partial: 'shared/alerts' %>
    <%= render partial: 'shared/msg' %>

    <main>
      <%= yield %>
    </main>

    <%= render partial: 'shared/footer' %>

  </body>
</html>
