<!DOCTYPE html>
<html>
  <%= render partial: 'shared/head' %>

  <body>
    <!-- nav -->
    <%= render partial: 'shared/nav' %>

    <%= render partial: 'shared/alerts' %>

    <main>
      <%= yield %>
    </main>

    <%= render partial: 'shared/footer' %>

  </body>
</html>
