<!DOCTYPE html>
<html>
  <%= render partial: 'shared/head' %>

  <body>
    <!-- nav -->
    <%= render partial: 'shared/nav' %>

    <% if @user.admin? || @user.superadmin? %>
      <%= render partial: 'shared/admin-nav' %>
    <% end %>


    <main>
      <%= render partial: 'shared/alerts' %>
      <%= render partial: 'shared/msg' %>
      <%= yield %>
    </main>

    <%= render partial: 'shared/footer' %>

  </body>
</html>
