<!DOCTYPE html>
<html>
  <%= render partial: 'shared/head' %>

  <body>
    <!-- nav -->
    <%= render partial: 'shared/nav' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
